# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Poetry
.venv/

# Environment variables
.env

# Book and content data
*.epub
*_characters.txt
*.dict
*_dict.txt
*_characters_*.txt
*_graph.json
*_graph_*.json
interim_data/
generated_outputs/
series/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*~

# OS specific
.DS_Store
Thumbs.db

# Application-specific
config.toml
.envrc
test_*.json
test_*.py

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Series files
*_series.json
*.analysis.txt